body, .pass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(198, 240, 240);
}

div, span {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

input {
    padding: 5px 10px;
    text-align: center;
}

#secretCode {
    margin-top: 30px;
}